<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../js/mui.min.js"></script>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/style.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript">
			mui.init();
		</script>
	</head>
	<body>
		<div class="mui-content">
			<div class="index_top">
    			<p class="top_p" style="font-size:16px;">发表文章</p>
			    <p class="top_pa" style="margin-right:10px;">入驻天数:<span id="spnRegisterDays"></span> </p>
			    <p class="top_pa">已发文章数:<span id="spnArticleNumber"></span> </p>
			</div>
			<div class="index_fz">
    			<form id="subForm">
        			<div class="index_fzinput">
                        <select id="ddlAd">
                    	</select>
                        <div class="fb_s">广告模板</div>
        			</div>
			        <div class="index_fzinput">
			            <input type="text" name="conUrl" id="conUrl" placeholder="请输入链接" />
			            <div class="in_right">
			                <a href="javascript:void(0);" id="goContent">导入链接</a>
			            </div>
			        </div>
    			</form>
    			<div class="fz_p" style="margin-top:10px;">声明：禁止发布黄赌毒以及违反任何国家相关法律法规的信息</div>
				<div class="index_n">
			        <ul id="ulArticleTypes">
            		</ul>
				</div>
			</div>
			<div class="index_list" id="divArticles">
        		<div class="index_lista">
    				
				</div>
            </div>
			<input type="hidden" value="0" id="typeid">
			<div id="divMore" class="jzgd" data-type="pc_0"><a href="javascript:void(0);"><span id="spnMore"></span></a></div>
			<div class="index_nav">
			    <ul>
			        <li class="nav_li" id="liPublishArticle">
			            <img src="../../img/1.png" style="height:28px;"/>
			            <p class="li_pp" style="font-size:12px;">发布文章</p>
			        </li>
			        <li id="liMyZone">
		                <img src="../../img/6.png" style="height:28px;" />
		                <p style="font-size:12px;">个人空间</p>
			        </li>
			        <li id="liManagedAd">
		                <img src="../../img/7.png" style="height:28px;"/>
		                <p style="font-size:12px;">广告管理</p>
			        </li>
			        <li id="liMember">
		                <img src="../../img/8.png" style="height:28px;"/>
		                <p style="font-size:12px;">会员服务</p>
			        </li>
			    </ul>
			</div>
		</div>
		<script type="text/javascript" src="../../js/urlvalidate.js"></script>
		<script type="text/javascript" src="../../js/constant.js"></script>
		<script type="text/javascript">
			var page = 0;
			var typeId = 888;
			var _content; //文章内容
			
			//获取屏显示头部信息
			function ajaxLoadTopInfo() {
				mui.ajax(REQUEST_DOMAIN + 'article/articleRelease.php', {
					data: {
						action: 'indexUser',
						token: localStorage.getItem(TOKEN)
					},
					dataType:'json',
					type:'POST',
					timeout:5000,
					success: renderTopInfo,
					error: function(xhr,type,errorThrown) {
						if (type == 'timeout') {//超时
							plus.nativeUI.toast('服务器超时，请稍后重试！');
						} else { 
							plus.nativeUI.toast('网络错误，请稍后重试！');
						}
					}
				});
			}
			
			function renderTopInfo(result) {
				if (result.status == -1) {
					document.getElementById('spnArticleNumber').innerText = result.data.artnum;
					document.getElementById('spnRegisterDays').innerText = result.data.addtime;
				} else {
					plus.nativeUI.toast(result.message);
				}
			}
			
			//获取并显示广告模板
			function ajaxLoadAds() {
				mui.ajax(REQUEST_DOMAIN + 'article/articleRelease.php', {
					data: {
						action: 'indexTop',
						token: localStorage.getItem(TOKEN)
					},
					dataType:'json',
					type:'POST',
					timeout:5000,
					success: renderAds,
					error: function(xhr,type,errorThrown) {
						if (type == 'timeout') {//超时
							plus.nativeUI.toast('服务器超时，请稍后重试！');
						} else {
							plus.nativeUI.toast('网络错误，请稍后重试！');
						}
					}
				});
			}
			
			function renderAds(result) {
				if (result.status == -1) {
					var target = document.getElementById('ddlAd');
					
					var content = '';
					content += '<option value=\"0\">选择广告</option>';
					for (var count = 0; count < result.data.adlist.length; count++) {
						content += '<option value=\"'+result.data.adlist[count].id+'\">';
						content += result.data.adlist[count].title;
						content += '</option>';
					}
					
					target.innerHTML = content;
				} else {
					plus.nativeUI.toast(result.message);
				}
			}
			
			//获取文章分类
			function ajaxLoadArticleTypes() {
				mui.ajax(REQUEST_DOMAIN + 'article/articleRelease.php', {
					data: {
						action: 'articleType',
						token: localStorage.getItem(TOKEN)
					},
					dataType:'json',
					type:'POST',
					timeout:5000,
					success: renderArticleTypes,
					error: function(xhr,type,errorThrown) {
						if (type == 'timeout') {//超时
							plus.nativeUI.toast('服务器超时，请稍后重试！');
						} else {
							plus.nativeUI.toast('网络错误，请稍后重试！');
						}
					}
				});
			}
			
			function renderArticleTypes(result) {
				if (result.status == -1) {
					var target = document.getElementById('ulArticleTypes');
					var content = '';
					var articleTypes = result.data.rows_type;
					
					for (var i = 0; i < articleTypes.length; i++) {
						if (localStorage.getItem('isShowArticleType')) {
							var articleType = localStorage.getItem('articleType');
						} else {
							var articleType = 888;
						}
						
						if (articleTypes[i].id == articleType) {
							content += '<li class=\"lin_x\" data-type-id=\"'+articleTypes[i].id+'\"><a href="javascript:void(0);">'+articleTypes[i].name+'</a></li>';	
						} else {
							content += '<li data-type-id=\"'+articleTypes[i].id+'\"><a href=\"javascript:void(0);\">'+articleTypes[i].name+'</a></li>';	
						}
					}
					target.innerHTML = content;
				} else {
					plus.nativeUI.toast(result.message);
				}
			}
			
			//获取并显示文章
			function ajaxInitArticles(typeId) {
				if (localStorage.getItem('isShowArticleType') == true) {
					var articleType = localStorage.getItem('articleType');
				} else {
					var articleType = typeId;
				}
				
				mui.ajax(REQUEST_DOMAIN + 'article/articleRelease.php', {
					data: {
						action: 'article',
						id: articleType
					},
					dataType:'json',
					type:'POST',
					timeout:5000,
					success: renderInitArticles,
					error: function(xhr,type,errorThrown) {
						if (type == 'timeout') {//超时
							plus.nativeUI.toast('服务器超时，请稍后重试！');
						} else {
							plus.nativeUI.toast('网络错误，请稍后重试！');
						}
					}
				});
			}
			
			function renderInitArticles(result) {
				if (result.status == -1) {
					var target = document.getElementById('divArticles');
					_content = '';
					var articles = result.data.articles; 
					
					if (articles.length < 1) {
						document.getElementById('divArticles').style.display = 'none';
					} else {
						document.getElementById('divArticles').style.display = 'block';
					}
					
					for (var i = 0; i < articles.length; i++) {
						_content += '<div class=\"index_lista\" data-article-id=\"'+articles[i].id+'\">';
						_content += '<div class="index_listl">';
						_content += '<p class=\"p_ll\">';
						_content += '<a href=\"javascript:void(0);\">';
						_content += articles[i].title;
						_content += '</a>';
						_content += '</p>';
						_content += '<p class=\"p_la\"><a href=\"javascript:void(0);\"><img src=\"../../img/zf.png\" style=\"width:15px;height:15px;\" /></a><span>'+articles[i].share+'</span></p>';
						_content += '<p class=\"p_la\"><a href=\"javascript:void(0);\"><img src=\"../../img/yd.png\" style=\"width:15px;height:15px;\" /></a><span>'+articles[i].pv+'</span></p>';
						_content += '</div>';
						_content += '<div class=\"index_listr\">';
						_content += '<a href="javascript:void(0);">';
						var path = articles[i].pic.replace('../', PREVIOUS_REQUEST_DOMAIN);
						_content += '<img src=\"'+path+'\" style=\"max-height:80px;max-width:160px;\" />';
						_content += '</a>';
						_content += '</div>';
						_content += '</div>';
					}
					
					if (result.data.nums == 2) {
						document.getElementById('spnMore').innerText = '没有更多信息';
						document.getElementById('divMore').disabled = true;
					} else {
						document.getElementById('spnMore').innerText = '点击加载更多';
						document.getElementById('divMore').disabled = false;
					}
					
					target.innerHTML = _content;
				} else {
					plus.nativeUI.toast(result.message);
				}
			}
			
			function ajaxLoadMoreArticles(typeId, page) {
				mui.ajax(REQUEST_DOMAIN + 'article/articleRelease.php', {
					data: {
						action: 'articleMore',
						id: typeId,
						page: page
					},
					dataType:'json',
					type:'POST',
					timeout:5000,
					success: renderMoreArticles,
					error: function(xhr,type,errorThrown) {
						if (type == 'timeout') {//超时
							plus.nativeUI.toast('服务器超时，请稍后重试！');
						} else {
							plus.nativeUI.toast('网络错误，请稍后重试！');
						}
					}
				});
			}
			
			function renderMoreArticles(result) {
				if (result.status == -1) {
					var target = document.getElementById('divArticles');
					var articles = result.data.articles; 
					
					if (articles.length < 1) {
						document.getElementById('divArticles').style.display = 'none';
					} else {
						document.getElementById('divArticles').style.display = 'block';
					}
					
					for (var i = 0; i < articles.length; i++) {
						_content += '<div class=\"index_lista\" data-article-id=\"'+articles[i].id+'\">';
						_content += '<div class="index_listl">';
						_content += '<p class=\"p_ll\">';
						_content += '<a href=\"javascript:void(0);\">';
						_content += articles[i].title;
						_content += '</a>';
						_content += '</p>';
						_content += '<p class=\"p_la\"><a href=\"javascript:void(0);\"><img src=\"../../img/zf.png\" style=\"width:15px;height:15px;\" /></a><span>'+articles[i].share+'</span></p>';
						_content += '<p class=\"p_la\"><a href=\"javascript:void(0);\"><img src=\"../../img/yd.png\" style=\"width:15px;height:15px;\" /></a><span>'+articles[i].pv+'</span></p>';
						_content += '</div>';
						_content += '<div class=\"index_listr\">';
						_content += '<a href="javascript:void(0);">';
						var path = articles[i].pic.replace('../', PREVIOUS_REQUEST_DOMAIN);
						_content += '<img src=\"'+path+'\" style=\"max-height:80px;max-width:160px;\" />';
						_content += '</a>';
						_content += '</div>';
						_content += '</div>'; 
					}
					
					if (result.data.nums == 2) {
						document.getElementById('spnMore').innerText = '没有更多信息';
						document.getElementById('divMore').disabled = true;
					} else {
						document.getElementById('spnMore').innerText = '点击加载更多';
						document.getElementById('divMore').disabled = false;
					}
					
					target.innerHTML = _content;
				} else {
					plus.nativeUI.toast(result.message);
				}
			}
			
			function ajaxGetUserInfo() {
				mui.ajax(REQUEST_DOMAIN + 'services/memberServices.php', {
		            type: 'POST',
		            dataType: 'json',
		            data: {
		            	action: 'personalData',
		                token: localStorage.getItem(TOKEN)
		            },
		            success: function(result) {
		            	console.log(localStorage.getItem(TOKEN));
		            	console.log(JSON.stringify(result));
		            	if (result.status == -1) {
		            		localStorage.setItem(USER_INFO, JSON.stringify(result.data));
		            	} else {
		            		plus.nativeUI.toast(result.message);
		            	}
		            },
		            error: function(xhr, type, errorThrown) {
						plus.nativeUI.toast('服务器超时，请稍后重试！');
					}
		        });
			}
			
			mui.plusReady(function() {
				ajaxLoadTopInfo();
				ajaxLoadAds();
				ajaxLoadArticleTypes();
				ajaxInitArticles(typeId);
				ajaxGetUserInfo();
				
				mui(document).on('tap', '#liMyZone', function() {
					mui.openWindow({
						url: '../myzone/managearticle.html',
						createNew: true,
						waiting: {
					      	autoShow: false
					   	},
					   	show: {
				      		autoShow:true,
				      		aniShow: ''
				    	}
					});
				});
				
				mui(document).on('tap', '#liManagedAd', function() {
					mui.openWindow({
						url: '../managead/index.html',
						createNew: true,
						waiting: {
					      	autoShow: false
					   	},
					   	show: {
				      		autoShow:true,
				      		aniShow: ''
				    	}
					});
				});
				
				mui(document).on('tap', '#liMember', function() {
					mui.openWindow({
						url: '../member/index.html',
						createNew: true,
						waiting: {
					      	autoShow: false
					   	},
					   	show: {
				      		autoShow:true,
				      		aniShow: ''
				    	}
					});
				});
				
				mui(document).on('tap', '.index_n li', function() {
					document.activeElement.blur();
					localStorage.removeItem('isShowArticleType');
					localStorage.removeItem('articleType');
					
					mui('.index_n li').each(function() {
						this.className = '';
					});
					this.className = 'lin_x';
					typeId = this.getAttribute('data-type-id');
					ajaxInitArticles(typeId);
				});
				
				mui(document).on('tap', '#divMore', function() {
					document.activeElement.blur();
					page++;
					ajaxLoadMoreArticles(typeId, page);
				});
				
				mui(document).on('tap', '.index_lista', function() {
					var articleId = this.getAttribute('data-article-id');
					localStorage.setItem('articleId', articleId);
					
					mui.openWindow({
						url: 'content.html',
						createNew: true,
						waiting: {
					      	autoShow: false
					   	},
					   	show: {
				      		autoShow:true,
				      		aniShow: 'slide-in-right',
				      		duration: 350
				    	}
					});
				});
				
				mui(document).on('tap', '#goContent', function() {
					var ckShare = '';
			        var num = '';
			        var conUrl = document.getElementById('conUrl').value;
			        var adTemplateId = document.getElementById('ddlAd').value;
					
//			        if (ckShare == 'on') {
//			            layer.open({
//			                content: '您还是普通用户，只可享受'+num+'条免费发布文章的机会',btn: '我知道了'
//			            });
//			            return false;
//			        }
			
			        if (conUrl == '') {
			            plus.nativeUI.toast('请输入文章链接');
			            return false;
			        }
			
			        var urlValidateResult = urlValidate(conUrl);
			        if (!urlValidateResult) {
			            plus.nativeUI.toast('错误得链接格式');
			            return false;
			        }
			        
			        localStorage.setItem(REQUEST_PATH, urlValidateResult);
			        localStorage.setItem(AD_TEMPLATE_ID, adTemplateId);
			        localStorage.setItem(CRAWLING_URL, conUrl);
		            
		            mui.openWindow({
		            	url: '../../views/publisharticle/template.html',
		            	createNew: true,
						waiting: {
					      	autoShow: false
					   	},
					   	show: {
				      		autoShow:true,
				      		aniShow: 'slide-in-right'
				    	}
		            });
				});
			});
		</script>
	</body>
</html>
