<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/newstyle.css" rel="stylesheet" type="text/css" />
		<script src="../../js/mui.min.js"></script>
	</head>
	<body id="pullrefresh">
		<div class="mui-content">
			<div class="gg_top" style="height:50px;">
			    <div style="margin-left: 60px;">广告列表 <sub style="float: right; margin-top: 30px; margin-right: 10px;" id="add">添加广告</sub></div>
			</div>
			<div class="quanxuan_top">
			    <div class="xq">
			        <input name="checkbox_ok" id="checkbox_ok" value="0" type="checkbox" style="float:left;margin:22px 5px;"><p>全选</p>
			    </div>
			    <div class="del" id="del"><a href="javascript:void(0);">删除</a></div>
			</div>
			<div class="gg_list" id='gg_list'></div>
			<div class="index_nav">
			    <ul>
			        <li id="liPublishArticle">
			            <img src="../../img/5.png" style="height:28px;"/>
			            <p style="font-size:12px;">发布文章</p>
			        </li>
			        <li id="liMyZone">
		                <img src="../../img/6.png" style="height:28px;" />
		                <p style="font-size:12px;">个人空间</p>
			        </li>
			        <li id="liManagedAd" class="nav_li">
		                <img src="../../img/3.png" style="height:28px;"/>
		                <p class="li_pp" style="font-size:12px;">广告管理</p>
			        </li>
			        <li id="liMember">
		                <img src="../../img/8.png" style="height:28px;"/>
		                <p style="font-size:12px;">会员服务</p>
			        </li>
			    </ul>
			</div>
		</div>
		<script src="../../js/constant.js"></script>
		<script type="text/javascript">
			mui.init({				
				pullRefresh: {  
                	container: '#pullrefresh',  
                  	down: { 
                  		style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
					    color:'#ff6c00', //可选，默认“#2BD009” 下拉刷新控件颜色
					    height:'50px',//可选,默认50px.下拉刷新控件的高度,
					    range:'100px', //可选 默认100px,控件可下拉拖拽的范围
					    offset:'0px', //可选 默认0px,下拉刷新控件的起始位置
					    auto: true,//可选,默认false.首次加载自动上拉刷新一次
                      	callback: pulldownRefresh  
                  	},
              	}  
			})
			
			function pulldownRefresh() {  
              	setTimeout(function () { 
                	ajaxAdvertisementList();  
                  	mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed  
              	}, 1500);  
          	} 
			//获取广告管理中的广告列表
			function ajaxAdvertisementList() {
//				plus.webview.getWebviewById('../managead/index.html').reload();
				mui.ajax(REQUEST_DOMAIN + 'advertisement/advertisement.php', {
					data: {
						action:'advertisementList',
						token: localStorage.getItem(TOKEN)
					},
					dataType:'json',
					type:'POST',
					timeout:5000,
					success: function(result) {
						console.log(JSON.stringify(result));
						if (result.status == -1) {
							var _content = '';
							var articles = result.data.articles; 
							for (var i = 0; i < articles.length; i++) {	
								_content += '<div class="gg_p" id="div237"><div class="gg_input"><input name="checkbox" value="'+articles[i].id+'" id="checkbox_237" type="checkbox"></div><div class="gg_li">';
								_content += '<img src=\"'+PREVIOUS_REQUEST_DOMAIN+articles[i].img+'\" style="max-height: 100px;" /><div class="gg_lib">';
								_content += '<p style="color:#fff;margin-left:2px;font-size:0.8rem;">'+articles[i].title+'</p><a href="ad_edit.php?id=237"><div class="xg" onclick="advertisementEdit('+articles[i].id+')"><img src="../../img/xg.png">修改</div></a></div></div></div>';
							}
							document.getElementById('gg_list').innerHTML = _content;
						}else{
							plus.nativeUI.toast(result.message);
						}
					},
					
					error: function(xhr,type,errorThrown) {
						if (type == 'timeout') {//超时
							plus.nativeUI.toast('服务器超时，请稍后重试！');
						} else {
							plus.nativeUI.toast('网络错误，请稍后重试！');
						}
					}
				});
			}
		
	        //删除广告
			function ajaxAdvertisementDel(ids) { 
				mui.ajax(REQUEST_DOMAIN + 'advertisement/advertisement.php', {
					data: {
						action:'advertisementDel',
						token: localStorage.getItem(TOKEN),
						id:ids
					},
					dataType:'json',
					type:'POST',
					timeout:5000,
					success: function(result) {
						console.log(JSON.stringify(result));
						if (result.status == -1) {
							ajaxAdvertisementList();
						}else{
							plus.nativeUI.toast(result.message);
						}
					},
					
					error: function(xhr,type,errorThrown) {
						if (type == 'timeout') {//超时
							plus.nativeUI.toast('服务器超时，请稍后重试！');
						} else {
							plus.nativeUI.toast('网络错误，请稍后重试！');
						}
					}
				});
			}
			
			//广告管理编辑广告
			function advertisementEdit(id){
//				var self=plus.webview.currentWebview();  
//              console.log(JSON.stringify(self)) 
				plus.webview.close("../managead/edit.html");
				mui.openWindow({
					url: './edit.html',
					id:'./edit.html',
				    extras:{
				        aid:id
				    }
				});
			}
	        
	        mui.plusReady(function() {
	        	mui(document).on('tap', '#del', function() {
	        		
						var checkbox=document.getElementsByName("checkbox");
						var arr = '';
					    for(var i=0;i<checkbox.length;i++){
					        if(checkbox[i].checked){
					        	arr = arr+checkbox[i].value+',';
					        }
					    }
					    if(arr){
					    	var btnArray = ['是', '否'];
					    	mui.confirm('确定要删除选中项吗？', '删除', btnArray, function(e) {
					    		if (e.index == 0) {
					    			ajaxAdvertisementDel(arr);
					    		}
					    	});
					    }else{
					    	plus.nativeUI.toast('请至少选中一条广告！');
					    }
				});
	        	
	        	mui(document).on('tap', '#add', function() {
					mui.openWindow({
						url: 'add.html'
					});
				});
	        	mui(document).on('tap', '#liPublishArticle', function() {
					mui.openWindow({
						url: '../publisharticle/index.html'
					});
				});
				
				mui(document).on('tap', '#liMyZone', function() {
					mui.openWindow({
						url: '../myzone/managearticle.html'
					});
				});
				
				mui(document).on('tap', '#liMember', function() {
					mui.openWindow({
						url: '../member/index.html'
					});
				});
	        });
	        
	        document.getElementById('checkbox_ok').onclick=function(){  
         		// 获取所有的复选框  
               var checkElements=document.getElementsByName('checkbox');  
               if (this.checked) {  
                   for(var i=0;i<checkElements.length;i++){  
                       var checkElement=checkElements[i];  
                       checkElement.checked="checked";  
                   }    
               }else{  
                   for(var i=0;i<checkElements.length;i++){  
                       var checkElement=checkElements[i];  
                       checkElement.checked=null;  
                   }  
                }  
            }  
	    </script>
	</body>
</html>