<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" type="text/css" />
		<link href="../../css/newstyle.css" rel="stylesheet" type="text/css" />
		<link href="../../css/feng.css" rel="stylesheet" type="text/css" />
		<script src="../../js/mui.min.js"></script>
	</head>
	<body id="pullrefresh">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-pull-left main-color"><</a>
		    <h1 class="mui-title main-color">添加员工</h1>
		</header>
		<div class="mui-content">
			<div class="tj_huiyuan">
			    <div class="tj_name">
			        <p><span>*</span>姓名</p>
			        <input type="text" name="realname" value="" id="realname" placeholder="请填写会员名称" />
			    </div>
			    <div class="tj_name">
			        <p><span>*</span>手机号</p>
			        <input type="text" name="phone" value="" id="phone" placeholder="请填写会员电话，用于登陆" />
			    </div>
			    <div class="tj_name">
			        <p><span>*</span>密码</p>
			        <input type="password" name="pass" value="" id="pass" placeholder="请设置六位及以上登陆密码，区分大小写" />
			    </div>
			    <div class="fangs" style="margin-left:20px; margin-bottom: 20px;">
			        <p style="font-size:14px; text-align:center; margin-bottom:5px;">&nbsp;&nbsp;&nbsp;&nbsp;当前余额：<span id="money">0.00</span></p>
			        <div class="fs_left" style="width:200px;margin-left:30%;">
			            <input name="viptype" value="2" id="checkbox_3" checked="checked" type="radio">企业会员：66元/年
			        </div>
			    </div>
			    <div class="tja_btn">
			        <input type="button" name="button" id="addqiye" value="提交" />
			    </div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/constant.js"></script>
		<script>
			mui.init({				
				pullRefresh: {  
                	container: '#pullrefresh',  
                  	down: { 
                  		style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
					    color:'#ff6c00', //可选，默认“#2BD009” 下拉刷新控件颜色
					    height:'50px',//可选,默认50px.下拉刷新控件的高度,
					    range:'100px', //可选 默认100px,控件可下拉拖拽的范围
					    offset:'0px', //可选 默认0px,下拉刷新控件的起始位置
					    auto: true,//可选,默认false.首次加载自动上拉刷新一次
                      	callback: pulldownRefresh  
                  	},
              	}  
			})
			
			function pulldownRefresh() {  
              setTimeout(function () {  
                  mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed  
              }, 1500);  
          	} 
          	
	        var ckNum = 0;
	        function add_img(obj,checkbox,money){
	        	mui('div[class=checkboxborderab]').each(function() {
	        		this.style.background = "";
	                this.style.border = "1px solid #d0d0d0";
	        	});
	        	
	        	if (obj.style.background) {
	                obj.style.background = "";
	                obj.style.border = "1px solid #ccc";
	                document.getElementById(checkbox).setAttribute('checked', false);
	            } else {
	                if(ckNum < 4){
	                    var ckMoney = 0;
	                    if(parseInt(ckMoney) < parseInt(money)){
	                        ckNum++;
	                        layer.open({
	                            content: '余额不足是否马上去充值？'
	                            ,btn: ['是', '稍后']
	                            ,yes: function(index){
	                              window.location.href=sitepath+"/user/recharge.php";
	                              layer.close(index);
	                            }
	                        });
	                    }
	                }
	                obj.style.background = "url(../../img/yhy.png) center no-repeat";
	                obj.style.border = "1px solid #e17211";
	                document.getElementById(checkbox).setAttribute('checked', true);
	            }
	        }
	        
	        function addEmployees(realname,phone,pass,viptype) {
				mui.ajax(REQUEST_DOMAIN + 'services/memberServices.php/addEmployees', {
					type: 'POST',
					data: {
						token: localStorage.getItem(TOKEN),
						realname:realname,
						phone:phone,
						pass:pass,
						viptype:viptype
					},
					success: function(result) {
						console.log(JSON.stringify(result));
						if (result.status == -1) {
							mui.openWindow({
								url: 'memberlist.html'
							});
						}else{
							plus.nativeUI.toast(result.message);
						}
					}
				});
			}
	        
	        mui.plusReady(function() {
	        	var self = plus.webview.currentWebview();
				var money = self.money;
				document.getElementById('money').innerText = money;
				//输入验证
				document.getElementById('addqiye').addEventListener('tap', function() {
					var realname = document.getElementById('realname').value;
					var phone = document.getElementById('phone').value;
					var pass = document.getElementById("pass").value;
					var radio=document.getElementsByName("viptype");
		            var viptype=null;   
		            for(var i=0;i<radio.length;i++){
		                if(radio[i].checked==true) {
		                    viptype=radio[i].value;
		                    break;
		                }
		            }
					if (phone == '') {
						plus.nativeUI.toast('请输入手机号');
					} else if (!phone.match(/^(((1[3|4|5|7|8][0-9]{1}))+\d{8})$/)) {
						plus.nativeUI.toast('手机号格式错误');
					} else if(realname == '') {
						plus.nativeUI.toast('请输入名称');
					} else if(pass == '') {
						plus.nativeUI.toast('请输入密码');
					} else if(pass.length < 6) {
						plus.nativeUI.toast('请输入不小于6位的密码');
					} else {
						addEmployees(realname,phone, pass,viptype);
					}
				});
			});
    	</script>
	</body>
</html>