<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/newstyle.css" rel="stylesheet" type="text/css" />
		<link href="../../css/feng.css" rel="stylesheet" type="text/css" />
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-pull-left main-color"><</a>
		    <h1 class="mui-title main-color">购买会员</h1>
		</header>
		<div class="mui-content">
			<p style="line-height:60px; padding:0 15px;">请选择会员类型</p>
			<div class="tabPanels">
			    <ul>
			        <li id="month" class="hitc topUpType" data-vip="1" data-money="20" data-member="月会员">月会员<br><span style="font-size:10px;">（20元/月）</span></li>
			        <li id="year" class="topUpType" data-vip="2" data-money="80" data-member="年会员">年会员<br><span style="font-size:10px;">(80元/年)</span></li>
			        <li id="yeard" class="topUpType" data-vip="3" data-money="188" data-member="企业会员">企业会员<br><span style="font-size:10px;">（188元/年）</span></li>
			    </ul>
				<div class="tab_li">
					<div class="t_li" id="details"><a>了解详情</a></div>
					<div class="t_li" id="details"><a>了解详情</a></div>
					<div class="t_li" id="details"><a>了解详情</a></div>
				</div>
			    <div class="panes">
			        <div class="panec" style="display:block;">
			            <div class="qt_je" style="color:#ff6c00;font-size:16px;width:62%;">
			            	您正在购买 <span id='introduce'>月会员￥20.00</span>
			            </div>
			            <p class="fangshi">支付方式</p>
			            <div class="fukuang">
			                <img src="../../img/wx.png" style="height:50px;width:50px;"/>
			                <span>微信支付</span>
			                <input name="paytype" class="input_class" id="checkbox_2" value="1" type="checkbox">
			                <div class="checkboxborderaa" style="border: 1px solid rgb(225, 114, 17); background: transparent url('../../img/duigou.png') no-repeat scroll center center;"></div>
			            </div>
			            <div class="fukuan_btn">
			                <input type="submit" name="button" id="payBtn" value="立即支付" />
			            </div>
			        </div>
			        <input type="hidden" id="paymoney" value="5" name="paymoney">
			    </div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/constant.js"></script>
		<script type="text/javascript">
			var paymentStatus = '';
			
			function checkPaymentStatus(orderId) {
				mui.ajax(REQUEST_DOMAIN + 'services/memberServices.php', {
					type: 'POST',
		            dataType: 'json',
		            async: false,
		            data: {
		            	action: 'checkStatus',
		                orderId: orderId,
		                token: localStorage.getItem(TOKEN)
		            },
		            success: function(result) {
		            	if (result.status == -1) {
		            		paymentStatus = 'success';
		            	} else {
		            		paymentStatus = 'fail';
		            	}
		            }
				});
			}
			
			mui.plusReady(function() {
				mui(document).on('tap', '#details', function() {
					mui.openWindow({
						url: 'know.html'
					});					
				});
				
				mui(document).on('tap', '.topUpType', function() {
					mui('.topUpType').each(function() {
						this.className = 'topUpType';
					});
					this.className = "hitc topUpType";
					var money = this.getAttribute('data-money');
					var member = this.getAttribute('data-member');
					document.getElementById('introduce').innerText=member+'￥'+money;
				});
				
				mui(document).on('tap', '#payBtn', function() {
					var money = 0;
					var item = document.getElementsByClassName('hitc')[0];
					money = item.getAttribute('data-money');
					var vip = item.getAttribute('data-vip');
					mui.ajax(REQUEST_DOMAIN + 'services/memberServices.php', {
			            type: 'POST',
			            dataType: 'json',
			            data: {
			            	action: 'topup',
			                money: money,
			                vip: vip,
			                content : '购买会员',
			                token: localStorage.getItem(TOKEN)
			            },
			            
			            success: function(result) {
			            	if (result.status == -1) {
			            		var target = mui.openWindow({
				            		url: result.data.mweb_url,
				            		styles: {
										additionalHttpHeaders: {
											referer:"http://zs.meijiexia.cn"
										}
									},
									show: {
										autoShow: false
									},
									waiting: {
										autoShow: false
									}
			            		});
			            		
			            		target.addEventListener("loaded", function() {
			            			var btnArray = ['是', '否'];
					                mui.confirm('支付是否已完成?', '支付', btnArray, function(e) {
					                    if (e.index == 0) {
					                    	checkPaymentStatus();
					                    	if (paymentStatus == 'success') {
					                    		plus.nativeUI.toast('支付已成功');
					                    	} else {
					                    		plus.nativeUI.toast('您未支付成功');
					                    	}
					                    } else if (e.index == 1) {
					                    	console.log('请从新支付');
					                    }
					                });
			            		});
			            	} else {
			            		plus.nativeUI.toast(result.message);
			            	}
			            },
			            error: function(xhr, type, errorThrown) {
							plus.nativeUI.toast('服务器超时，请稍后重试！');
						}
			        });
				});
			});
		</script>
	</body>
</html>