<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/style.css" rel="stylesheet" type="text/css" />
		<link href="../../css/mui.min.css" rel="stylesheet" type="text/css" />
		<link href="../../css/feng.css" rel="stylesheet" type="text/css" />
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();
		</script>
	</head>
	<body style="background:#fff;">
		<header class="mui-bar mui-bar-nav">
			<p class="mui-action-back mui-icon mui-pull-left main-color"><</p>
		    <h1 class="mui-title main-color">使用教程</h1>
		</header>
		<div class="mui-content">
			<div id="divContent" class="article">
				<p style="color:#747474;margin-left:5%;padding-top:10px;margin-bottom: 15px;">2017-03-21<span style="padding:0 15px; color:#3e4cff;"><a href="javascript:void(0);">媒介匣展业助手</a></span></p>
				<div id="tConArt" class="art_co sau">
					<div class="rich_media_content" id="js_content">
						<div id="neirong">
							<p>
								<img style="width: 16px; height: 12px;" src="http://zs.meijiexia.com/img0.php?url=http://zs.meijiexia.com/img0.php?url=http://zs.meijiexia.cn/img0.php?url=http://mmbiz.qpic.cn/mmbiz_png/1wDeEvUgsvA878mcHBd6FHj7eJZc9qEibTPGnrwZzQdoLLrsKP6KUqSGT96R25IJf4PdNicAic7jLSjZR0rNhvTfg/0?wx_fmt=png"><a href="http://zs.meijiexia.com/u_detail.php?id=76" target="_blank" style="line-height:1.6;">设置自己的广告模板</a> 
							</p>
							<p>
								<img style="width: 16px; height: 12px;" src="http://zs.meijiexia.com/img0.php?url=http://zs.meijiexia.com/img0.php?url=http://zs.meijiexia.cn/img0.php?url=http://mmbiz.qpic.cn/mmbiz_png/1wDeEvUgsvA878mcHBd6FHj7eJZc9qEibTPGnrwZzQdoLLrsKP6KUqSGT96R25IJf4PdNicAic7jLSjZR0rNhvTfg/0?wx_fmt=png"><a href="http://zs.meijiexia.com/u_detail.php?id=78" target="_blank" style="line-height:1.6;">了解发布信息教程</a> 
							</p>
							<p>
								<img style="width: 16px; height: 12px;" src="http://zs.meijiexia.com/img0.php?url=http://zs.meijiexia.com/img0.php?url=http://zs.meijiexia.cn/img0.php?url=http://mmbiz.qpic.cn/mmbiz_png/1wDeEvUgsvA878mcHBd6FHj7eJZc9qEibTPGnrwZzQdoLLrsKP6KUqSGT96R25IJf4PdNicAic7jLSjZR0rNhvTfg/0?wx_fmt=png"><a href="http://zs.meijiexia.com/u_detail.php?id=67" target="_blank" style="line-height:1.6;">了解会员</a> 
							</p>
							<p>
								<img style="width: 16px; height: 12px;" src="http://zs.meijiexia.com/img0.php?url=http://zs.meijiexia.com/img0.php?url=http://zs.meijiexia.cn/img0.php?url=http://mmbiz.qpic.cn/mmbiz_png/1wDeEvUgsvA878mcHBd6FHj7eJZc9qEibTPGnrwZzQdoLLrsKP6KUqSGT96R25IJf4PdNicAic7jLSjZR0rNhvTfg/0?wx_fmt=png"><a href="http://zs.meijiexia.com/u_detail.php?id=73" target="_blank" style="line-height:1.6;">了解代理</a> 
							</p>
							<p>
								<img style="width: 16px; height: 12px;" src="http://zs.meijiexia.com/img0.php?url=http://zs.meijiexia.com/img0.php?url=http://zs.meijiexia.cn/img0.php?url=http://mmbiz.qpic.cn/mmbiz_png/1wDeEvUgsvA878mcHBd6FHj7eJZc9qEibTPGnrwZzQdoLLrsKP6KUqSGT96R25IJf4PdNicAic7jLSjZR0rNhvTfg/0?wx_fmt=png"><a href="http://zs.meijiexia.com/about.html" target="_blank" style="line-height:1.6;">关于媒介匣展业助手</a> 
							</p>
							<p>
								<img style="width: 16px; height: 12px;" src="http://zs.meijiexia.com/img0.php?url=http://zs.meijiexia.com/img0.php?url=http://zs.meijiexia.cn/img0.php?url=http://mmbiz.qpic.cn/mmbiz_png/1wDeEvUgsvA878mcHBd6FHj7eJZc9qEibTPGnrwZzQdoLLrsKP6KUqSGT96R25IJf4PdNicAic7jLSjZR0rNhvTfg/0?wx_fmt=png"><a href="http://zs.meijiexia.com/user/kf.php" target="_blank" style="line-height:1.6;">有问题咨询客服MM</a> 
							</p>
							<p id="content" >
								<img src="../../img/20170301141809_76469.jpg" alt=""> 
							</p>
						</div>
					</div>
				</div>
			</div>
			<div id="divLight" style="display: none;">
				<img src="../../img/20170221184042_74059.jpg" style="position: absolute; top: 26%; left: 10%; width: 300px; height: 300px;">
			</div>
			<style type="text/css">
				.gg_img img{
					width:95%;
				}
			</style>
			<div class="light_e">
				<div class="light"><img src="../../img/light.png" /></div>
			</div>
		</div>
		<script src="../../js/constant.js"></script>
		<script type="text/javascript">
			mui('body').on('tap','a',function(){document.location.href=this.href;});
			mui.plusReady(function() {
				mui(document).on('tap', '.light', function() {
					if (document.getElementById('divLight').style.display == 'none') {
						document.getElementById('divLight').style.display = 'block';
						document.getElementById('divContent').style.opacity = 0.2;
					} else if (document.getElementById('divLight').style.display == 'block') {
						document.getElementById('divLight').style.display = 'none';
						document.getElementById('divContent').style.opacity = 1;
					}
				});
				
				mui(document).on('tap', '#divContent', function() {
					if (document.getElementById('divLight').style.display == 'block') {
						document.getElementById('divLight').style.display = 'none';
						document.getElementById('divContent').style.opacity = 1;
					}
				});
				
			});
		</script>
	</body>
</html>