<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/newstyle.css" rel="stylesheet" type="text/css" />
		<link href="../../css/feng.css" rel="stylesheet" type="text/css" />
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-pull-left main-color"><</a>
		    <h1 class="mui-title main-color">联系客服</h1>
		</header>
		<div class="mui-content">
			<div class="gmdl_con">
				<p class="kf_p">常见问题</p>
				<p class="kf_pp">1、不知道怎么成为会员或代理商？</p>
				<p class="kf_ppp">请到会员服务页面，详细了解会员或代理的步骤，如还不太清楚，请咨询客服。</p>
				<p class="kf_pp">2、不知道怎么付款？</p>
				<p class="kf_ppp">请看使用教程或是购买会员（购买代理）页面，如还 不清楚请咨询客服。</p>
				<p class="kf_pp">3、客服热线是多少？</p>
				<p class="kf_ppp">4006-685-611</p>
				<img src="../../img/kefu.jpg" id='imgurl' />
				<p>扫一扫，联系客服</p>
			</div>
			<div style="height:60px;"></div>
		</div>
		<script src="../../js/constant.js"></script>
		<script type="text/javascript">
			mui.plusReady(function() {
					mui.ajax(REQUEST_DOMAIN + 'services/memberServices.php/customerService', {
						type: 'POST',
						data: {
							token: localStorage.getItem(TOKEN)
						},
						success: function(result) {
//							console.log(JSON.stringify(result));
							if (result.status == -1) {
								document.getElementById('imgurl').src = PREVIOUS_REQUEST_DOMAIN+result.data.imgurl;
							} else {
								plus.nativeUI.toast(result.message);
							}
						}
					});
			});
		</script>
	</body>
</html>