<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/newstyle.css" rel="stylesheet" type="text/css" />
		<link href="../../css/tx/css/style.css" rel="stylesheet" type="text/css" />
		<script src="../../js/mui.min.js"></script>
	</head>
	<body id='pullrefresh'>
		<div class="mui-content">
			<div class="gr_top">
				<img src="../../css/tx/images/touxiang.png" id="imgs"/>
				<p id="tel">媒介匣</p>
				<span style="font-size:14px;" id="vip">您还是普通用户，只可免费发布10条文章</span>
			</div>
			<div id="divBalance" class="num_gr">
			    <a href="javascript:void(0);">
			        <p>当前余额:</p>
			        <img style="margin-left:2px;float: right;" src="../../img/gr_2.gif"><span style="color: #ff4e00; float: right;" id="money">0.00</span>
			    </a>
			</div>
			<div id="divPersonalInfo" class="num_gr">
			    <a href="u_info.php">
			        <p>个人信息</p>
			        <span style="float:right;font-size: 13px;color:#ff4e00;margin-right: 2px;">修改头像与资料<img style="margin-left:2px;" src="../../img/gr_2.gif"></span>
			    </a>
			</div>
			<div id="divCourse" class="num_gr">
			    <a href="javascript:void(0);">
			        <p>使用教程</p>
			        <img src="../../img/help.gif" />
			    </a>
			</div>
			<div class="num_kf">
			    <ul>
			        <li id="liCustomService" class="kf_li">
			            <a href="javascript:void(0);">
			                <p>联系客服</p>
			                <img src="../../img/gr_2.gif" />
			            </a>
			        </li>
			        <li id="liChangePassword">
			            <a href="javascript:void(0);">
			                <p>修改密码</p>
			                <img src="../../img/gr_2.gif" />
			            </a>
			        </li>
			    </ul>
			</div>
			<div class="num_kf">
			    <ul id="ul_id">
			    	<li id="buyingMembers" class="kf_li">
			            <a href="javascript:void(0);">
			                <p>购买会员</p>
			            </a>
			        </li>
			        <li id="purchasingAgent" class="kf_li">
			            <a href="javascript:void(0);">
			                <p>购买代理</p>
			            </a>
			        </li>
			        <li id="liPurchaseMember" class="kf_li">
			            <a href="javascript:void(0);">
			                <p>添加会员&代理商</p>
			            </a>
			        </li>
			        <li id="liPurchaseemployee" class="kf_li">
			            <a href="javascript:void(0);">
			                <p>添加员工</p>
			            </a>
			        </li>
			        <li id="liMemberList" class="kf_li">
			            <a href="/user/buyAgent.php">
			                <p id="member">会员列表</p>
			            </a>
			        </li>
			        <li id="liConsumeDetail" class="kf_li">
			            <a href="/user/buyAgent.php">
			                <p>消费明细</p>
			            </a>
			        </li>
			        <li id="liStatistic" class="kf_li">
			            <a href="javascript:void(0)">
			                <p>数据统计</p>
			                <img src="../../img/gr_2.gif" />
			            </a>
			        </li>
			        <li id="advertisingPromotion" class="kf_li">
			            <a href="javascript:void(0)">
			                <p>广告推广</p>
			                <img src="../../img/gr_2.gif" />
			            </a>
			        </li>
			        <li id="liKnowMember" class="kf_li">
			            <a href="javascript:void(0);">
			                <p>了解会员/代理</p>
			                <img src="../../img/gr_2.gif" />
			            </a>
			        </li>
			        <li id="liAboutUs" class="kf_li">
			            <a href="javascript:void(0);">
			                <p>关于我们</p>
			                <img src="../../img/gr_2.gif" />
			            </a>
			        </li>
			    </ul>
			</div>
		</div>
		<div id="divLogout" class="num_gr" style="margin-bottom:70px;">
			<a href="javascript:void(0);">
			    <p>退出登录</p>
			    <img src="../../img/gr_2.gif" />
			</a>
		</div>
		<div class="index_nav">
		    <ul>
		        <li id="liPublishArticle">
		            <img src="../../img/5.png" style="height:28px;"/>
		            <p style="font-size:12px;">发布文章</p>
		        </li>
		        <li id="liMyZone">
	                <img src="../../img/6.png" style="height:28px;" />
	                <p style="font-size:12px;">个人空间</p>
		        </li>
		        <li id="liManagedAd">
	                <img src="../../img/7.png" style="height:28px;"/>
	                <p style="font-size:12px;">广告管理</p>
		        </li>
		        <li id="liMember" class="nav_li">
	                <img src="../../img/4.png" style="height:28px;"/>
	                <p class="li_pp" style="font-size:12px;">会员服务</p>
		        </li>
		    </ul>
		</div>
		<script src="../../js/constant.js"></script>
		<script type="text/javascript">
			mui.init({		
				pullRefresh: {  
                	container: '#pullrefresh',  
                  	down: { 
                  		style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
					    color:'#ff6c00', //可选，默认“#2BD009” 下拉刷新控件颜色
					    height:'50px',//可选,默认50px.下拉刷新控件的高度,
					    range:'100px', //可选 默认100px,控件可下拉拖拽的范围
					    offset:'0px', //可选 默认0px,下拉刷新控件的起始位置
					    auto: true,//可选,默认false.首次加载自动上拉刷新一次
                      	callback: pulldownRefresh  
                  	},
              	}  
			})
			
			function pulldownRefresh() {  
              setTimeout(function () {  
                  ajaxLoadServices();  
                  mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed  
              }, 1500);  
          	} 
			//获取会员服务用户信息
			function ajaxLoadServices() {
				mui.ajax(REQUEST_DOMAIN + 'services/memberServices.php', {
					data: {
						action:'services',
						token: localStorage.getItem(TOKEN)
					},
					dataType:'json',
					type:'POST',
					timeout:5000,
					success: renderServices,
					error: function(xhr,type,errorThrown) {
						if (type == 'timeout') {//超时
							plus.nativeUI.toast('服务器超时，请稍后重试！');
						} else {
							plus.nativeUI.toast('网络错误，请稍后重试！');
						}
					}
				});
			}
			
			function renderServices(result) {
				if (result.status == -1) {
					document.getElementById('imgs').src = PREVIOUS_REQUEST_DOMAIN+result.data.img;
					if(result.data.realname != 0){
						document.getElementById('tel').innerText = result.data.realname;
					}else{
						if(result.data.tel == 0){
							document.getElementById('tel').innerText = result.data.phone;
						}else{
							document.getElementById('tel').innerText = result.data.tel;
						}
					}
					if(result.data.vip == 0){
						document.getElementById('divBalance').style.display = 'none';
						document.getElementById('liPurchaseMember').style.display = 'none';
						document.getElementById('liPurchaseemployee').style.display = 'none';
						document.getElementById('liMemberList').style.display = 'none';
						document.getElementById('liConsumeDetail').style.display = 'none';
						document.getElementById('advertisingPromotion').style.display = 'none';
					}else if(result.data.vip == 1){
						document.getElementById('vip').innerText = '月会员:'+result.data.vips+' - '+result.data.vipe;
						document.getElementById('divBalance').style.display = 'none';
						document.getElementById('liPurchaseMember').style.display = 'none';
						document.getElementById('liPurchaseemployee').style.display = 'none';
						document.getElementById('liMemberList').style.display = 'none';
						document.getElementById('liConsumeDetail').style.display = 'none';
						document.getElementById('advertisingPromotion').style.display = 'none';
					}else if(result.data.vip == 2){
						document.getElementById('vip').innerText = '年会员:'+result.data.vips+' - '+result.data.vipe;
						document.getElementById('divBalance').style.display = 'none';
						document.getElementById('liPurchaseMember').style.display = 'none';
						document.getElementById('liPurchaseemployee').style.display = 'none';
						document.getElementById('liMemberList').style.display = 'none';
						document.getElementById('liConsumeDetail').style.display = 'none';
						document.getElementById('advertisingPromotion').style.display = 'none';
					}else if(result.data.vip == 3){
						document.getElementById('vip').innerText = '企业版:'+result.data.vips+' - '+result.data.vipe;
						document.getElementById('money').innerText = result.data.money;
						document.getElementById('buyingMembers').style.display = 'none';
						document.getElementById('purchasingAgent').style.display = 'none';
						document.getElementById('liPurchaseMember').style.display = 'none';
						document.getElementById('member').innerText = '员工列表';
					}else if(result.data.vip == 4){
						document.getElementById('vip').innerText = '代理商:'+result.data.vips+' - '+result.data.vipe;
						document.getElementById('money').innerText = result.data.money;
						document.getElementById('liPurchaseemployee').style.display = 'none';
						document.getElementById('advertisingPromotion').style.display = 'none';
					}
				} else {
					plus.nativeUI.toast(result.message);
				}
			}
			mui.plusReady(function() {
				ajaxLoadServices();
				//打开发布文章页面
				mui(document).on('tap', '#liPublishArticle', function() {
					mui.openWindow({
						url: '../publisharticle/index.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开个人空间页面	
				mui(document).on('tap', '#liMyZone', function() {
					mui.openWindow({
						url: '../myzone/managearticle.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开广告管理页面
				mui(document).on('tap', '#liManagedAd', function() {
					mui.openWindow({
						url: '../managead/index.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开当前余额
				mui(document).on('tap', '#divBalance', function() {
					mui.openWindow({
						url: 'balance.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开个人信息
				mui(document).on('tap', '#divPersonalInfo', function() {
					mui.openWindow({
						url: 'personalinfo.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开使用教程
				mui(document).on('tap', '#divCourse', function() {
					mui.openWindow({
						url: 'course.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开联系客服
				mui(document).on('tap', '#liCustomService', function() {
					mui.openWindow({
						url: 'customeservice.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开修改密码
				mui(document).on('tap', '#liChangePassword', function() {
					mui.openWindow({
						url: 'editpassword.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开添加会员与代理商
				mui(document).on('tap', '#liPurchaseMember', function() {
					mui.openWindow({
						url: 'addvip.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开会员列表
				mui(document).on('tap', '#liMemberList', function() {
					mui.openWindow({
						url: 'memberlist.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开消费明细
				mui(document).on('tap', '#liConsumeDetail', function() {
					mui.openWindow({
						url: 'consumedetail.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开数据统计页面
				mui(document).on('tap', '#liStatistic', function() {
					mui.openWindow({
						url: 'statistics.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开了解会员/代理
				mui(document).on('tap', '#liKnowMember', function() {
					mui.openWindow({
						url: 'know.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开企业版添加员工
				mui(document).on('tap', '#liPurchaseemployee', function() {
					money = document.getElementById('money').innerText;
					mui.openWindow({
						url: 'addqiye.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	},
						money:'addqiye.html',
					    extras:{
					        money:money
					    }
					});
				});
				
				//打开企业版广告推广
				mui(document).on('tap', '#advertisingPromotion', function() {
					money = document.getElementById('money').innerText;
					mui.openWindow({
						url: 'advertisingPromotion.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				//打开关于我们
				mui(document).on('tap', '#liAboutUs', function() {
					//plus.runtime.openURL('http://zs.meijiexia.cn/about.html');
					mui.openWindow({
						url: './about.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开购买会员
				mui(document).on('tap', '#buyingMembers', function() {
					mui.openWindow({
						url: 'buyingmembers.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开购买代理
				mui(document).on('tap', '#purchasingAgent', function() {
					mui.openWindow({
						url: 'purchasingagent.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//退出登陆
				mui(document).on('tap', '#divLogout', function() {
					mui.ajax(REQUEST_DOMAIN + 'member/Login.php', {
						type:'POST',
						timeout:5000,
						data: {
							action: 'logout'
						},
						beforeSend: function() {
					        plus.nativeUI.showWaiting('登出...',{background:'#8f8f94',back:'none',loading:{display:'inline'}});
					    },
					    complete: function() {
					        plus.nativeUI.closeWaiting();
					    },
						success: function(data) {
							console.log(JSON.stringify(result));
							var result = data;
							if (result.status == -1) {
								localStorage.removeItem(TOKEN);
								localStorage.removeItem('isShowArticleType');
								localStorage.removeItem('articleType');
//								var wvs = plus.webview.all();
//								for(var i = 0, len = wvs.length; i < len; i++) {
//									if(wvs[i].id !== '../../index.html' || wvs[i].id !== 'HBuilder'){
//										wvs[i].close('none');
//									}
//								};
								mui.openWindow({
									url:'../../index.html',
									createNew: true,
									show:{
							      		autoShow: true,
								      	aniShow: ''
								    },
								    waiting: {
								      	autoShow: false
								   	}
								});
							} else {
								plus.nativeUI.toast(result.data.message);
							}
							plus.nativeUI.closeWaiting();
						},
						error: function(xhr,type,errorThrown) {
							if (type == 'timeout') {//超时
								console.log(JSON.stringify(type));
								plus.nativeUI.toast('服务器超时，请稍后重试！');
								plus.nativeUI.closeWaiting();
							} else {
								console.log(JSON.stringify(errorThrown));
								plus.nativeUI.toast('网络错误，请稍后重试！');
								plus.nativeUI.closeWaiting();
							}
						}
					});
				});
			});
		</script>
	</body>
</html>
