<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/newstyle.css" rel="stylesheet" type="text/css" />
		<link href="../../css/feng.css" rel="stylesheet" type="text/css" />
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-pull-left main-color"><</a>
		    <h1 class="mui-title main-color">了解会员/代理</h1>
		</header>
		<div class="mui-content" style="background:#f9f9f9;">
			<div class="lj_banner">
				<img src="../../img/lj_1.jpg" />
			</div>
			<div class="lj_table">
			  	<table border="1">
				  	<tr>
					    <td>
				        	<img src="../../img/lj_5.jpg" />
				            <p>会员特权</p>
				        </td>
					    <td>
				        	<img src="../../img/lj_2.jpg" />
				            <p>免费会员</p>
				        </td>
					    <td>
				        	<img src="../../img/lj_3.jpg" />
				            <p>月度会员</p>
				        </td>
					    <td>
				        	<img src="../../img/lj_4.jpg" />
				            <p>年度会员</p>
				        </td>
					    <td>
				        	<img src="../../img/lj_6.jpg" />
				            <p>代理版</p>
				        </td>
				    </tr>
				  	<tr>
					    <td class="l_b">发布信息</td>
					    <td>10条</td>
					    <td><span>不限条数</span></td>
					    <td><span>不限条数</span></td>
					    <td><span>不限条数</span></td>
				    </tr>
					<tr>
					    <td>文章底部广告</td>
					    <td>不支持</td>
					    <td>不支持</td>
					    <td>不支持</td>
					    <td>不支持</td>
				    </tr>
					<tr>
					    <td class="l_b">顶部广告</td>
					    <td><span>支持</span></td>
					    <td><span>支持</span></td>
					    <td><span>支持</span></td>
					    <td><span>支持</span></td>
				    </tr>
					<tr>
					    <td>悬浮广告</td>
					    <td>不支持</td>
					    <td><span>支持</span></td>
					    <td><span>支持</span></td>
					    <td><span>支持</span></td>
				    </tr>
					<tr>
					    <td class="l_b">广告管理</td>
					    <td><span>支持</span></td>
					    <td><span>支持</span></td>
					    <td><span>支持</span></td>
					    <td><span>支持</span></td>
				    </tr>
					<tr>
					    <td>发展会员</td>
					    <td>不支持</td>
					    <td>不支持</td>
					    <td>不支持</td>
					    <td><span>支持</span></td>
				    </tr>
					<tr>
					    <td class="l_b">发展代理</td>
					    <td>不支持</td>
					    <td>不支持</td>
					    <td>不支持</td>
					    <td><span>支持</span></td>
				    </tr>
					<tr>
					    <td>客服支持</td>
					    <td><span>支持</span></td>
					    <td><span>支持</span></td>
					    <td><span>支持</span></td>
					    <td><span>支持</span></td>
				    </tr>
					<tr>
					    <td class="l_b">价格</td>
					    <td>0元</td>
					    <td>20元/月</td>
					    <td>50元/年 <span>(活动价)</span></td>
					    <td>188元/年</td>
				    </tr>
					<tr>
					    <td>&nbsp;</td>
					    <!--http://zs.meijiexia.com
					    http://zs.meijiexia.com/user/buyVip.php
					    http://zs.meijiexia.com/user/buyVip.php
					    http://zs.meijiexia.com/user/buyAgent.php-->
					    <td><a href="javascript:void(0);"><img style="width:90%;" src="../../img/lj_7.jpg"></a></td>
					    <td><a href="javascript:void(0);"><img style="width:90%;" src="../../img/lj_8.jpg"></a></td>
					    <td><a href="javascript:void(0);"><img style="width:90%;" src="../../img/lj_8.jpg"></a></td>
					    <td><a href="javascript:void(0);"><img style="width:90%;" src="../../img/lj_8.jpg"></a></td>
				    </tr>
			  	</table>
			</div>
			<div class="lj_we">
				<img src="../../img/lj_9.jpg">
			</div>
		</div>
	</body>
</html>
