<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>数据统计</title>
    <script src='http://www.ichartjs.com/ichart.latest.min.js'></script>
    <script type='text/javascript'>
        $(function(){
            var chart = iChart.create({
                render:"ichart-render",
                width:500,
                height:300,
                background_color:"#fff",
                gradient:false,
                color_factor:0.2,
                border:{
                    color:"#fff",
                    width:1
                },
                align:"center",
                offsetx:0,
                offsety:0,
                sub_option:{
                    border:{
                        color:"#fff",
                        width:1
                    },
                    label:{
                        fontweight:500,
                        fontsize:12,
                        color:"#333",
                        sign:"square",
                        sign_size:11,
                        border:{
                            color:"#696969",
                            width:1
                        },
                        background_color:"#fff"
                    }
                },
                shadow:true,
                shadow_color:"#666666",
                shadow_blur:2,
                showpercent:false,
                column_width:"70%",
                bar_height:"70%",
                radius:"90%",
                title:{
                    text:"数据统计饼状图",
                    color:"#111111",
                    fontsize:20,
                    font:"微软雅黑",
                    textAlign:"center",
                    height:30,
                    offsetx:0,
                    offsety:0
                },
                legend:{
                    enable:false,
                    background_color:"#fefefe",
                    color:"#333333",
                    fontsize:12,
                    border:{
                        color:"#BCBCBC",
                        width:1
                    },
                    column:1,
                    align:"right",
                    valign:"center",
                    offsetx:0,
                    offsety:0
                },
                coordinate:{
                    width:"8%",
                    height:"10%",
                    background_color:"#fff",
                    axis:{
                        color:"#a5acb8",
                        width:[1,"",1,""]
                    },
                    grid_color:"#d9d9d9",
                    label:{
                        fontweight:500,
                        color:"#666666",
                        fontsize:12
                    }
                },
                label:{
                    fontweight:500,
                    color:"#666666",
                    fontsize:12
                },
                type:"pie2d",
                data:[
                    {
                        name:"总发布文章数",
                        value:5,
                        color:"#8B0000"
                    },{
                        name:"现有文章数",
                        value:25,
                        color:"#800080"
                    },{
                        name:"总阅读数",
                        value:10,
                        color:"#00FF00"
                    },{
                        name:"总分享数",
                        value:15,
                        color:"#FFA500"
                    },{
                        name:"总点赞数",
                        value:25,
                        color:"#d92eae"
                    },{
                        name:"总广告点击数",
                        value:20,
                        color:"#1E90FF"
                    }
                ]
            });
            chart.draw();
        });

        $(function(){
            var chart = iChart.create({
                render:"zhuzhuangtu",
                width:500,
                height:300,
                background_color:"#fefefe",
                gradient:false,
                color_factor:0.2,
                border:{
                    color:"BCBCBC",
                    width:1
                },
                align:"center",
                offsetx:0,
                offsety:0,
                sub_option:{
                    border:{
                        color:"#BCBCBC",
                        width:1
                    },
                    label:{
                        fontweight:500,
                        fontsize:11,
                        color:"#4572a7",
                        sign:"square",
                        sign_size:12,
                        border:{
                            color:"#BCBCBC",
                            width:1
                        },
                        background_color:"#fefefe"
                    }
                },
                shadow:true,
                shadow_color:"#666666",
                shadow_blur:2,
                showpercent:false,
                column_width:"70%",
                bar_height:"70%",
                radius:"90%",
                title:{
                    text:"数据统计柱状图",
                    color:"#111111",
                    fontsize:20,
                    font:"微软雅黑",
                    textAlign:"center",
                    height:30,
                    offsetx:0,
                    offsety:0
                },
                subtitle:{
                    text:"",
                    color:"#111111",
                    fontsize:16,
                    font:"微软雅黑",
                    textAlign:"center",
                    height:20,
                    offsetx:0,
                    offsety:0
                },
                footnote:{
                    text:"",
                    color:"#111111",
                    fontsize:12,
                    font:"微软雅黑",
                    textAlign:"right",
                    height:20,
                    offsetx:0,
                    offsety:0
                },
                legend:{
                    enable:false,
                    background_color:"#fefefe",
                    color:"#333333",
                    fontsize:12,
                    border:{
                        color:"#BCBCBC",
                        width:1
                    },
                    column:1,
                    align:"right",
                    valign:"center",
                    offsetx:0,
                    offsety:0
                },
                coordinate:{
                    width:"80%",
                    height:"84%",
                    background_color:"#ffffff",
                    axis:{
                        color:"#a5acb8",
                        width:[1,"",1,""]
                    },
                    grid_color:"#d9d9d9",
                    label:{
                        fontweight:500,
                        color:"#666666",
                        fontsize:12
                    }
                },
                label:{
                    fontweight:500,
                    color:"#666666",
                    fontsize:12
                },
                type:"column2d",
                data:[
                    {
                        name:"总发布文章数",
                        value:10,
                        color:"#8B0000"
                    },{
                        name:"现有文章数",
                        value:20,
                        color:"#800080"
                    },{
                        name:"总阅读数",
                        value:30,
                        color:"#00FF00"
                    },{
                        name:"总分享数",
                        value:12,
                        color:"#FFA500"
                    },{
                        name:"总点赞数",
                        value:16,
                        color:"#d92eae"
                    },{
                        name:"总广告点击数",
                        value:19,
                        color:"#1E90FF"
                    }
                ]
            });
            chart.draw();
        });
    </script>
    <style>body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }  body, button, input, select, textarea { font-family:Microsoft YaHei,"微软雅黑";}</style>
</head>
<body style='background-color:#fff;'>
<div id='ichart-render'></div>
<div id='zhuzhuangtu'></div>
</body>
</html>