<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/style.css" rel="stylesheet" type="text/css" />
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</head>
	<body>
		<div class="mui-content">
			<div class="gr_top" style="height:100px;">
			    <img id="imgUser" src="../../img/1.png" style="margin-top: auto; width: 50px; margin-top: 5px;"/>
			    <p><b id="bName">用户名</b></p>
			</div>
			<div class="gr_con">
				<ul>
			        <li id="liFirst"><a href="javascript:void(0);" style="color:#333;">文章管理</a></li>
			        <li id="liSecond" class="hit">关于我</li>
			        <li id="liThird"><a href="javascript:void(0)" style="color:#333;">联系我</a></li>
			    </ul>
			    <div class="panes">
			        <div class="pane" style="display:block;margin-bottom:0;">
			            <div class="gr_js">
			                <p class="gr_p">签名</p>
			                <p class="gr_pp">
			                	<input class="glist_right" style="border: 0 none;color: #666666;float: right;padding-right: 3%;text-align: left;width: 95%;" name="qianming" id="qianming" placeholder="这家伙很懒什么都没留下！" type="text">
			                </p>
			            </div>
			            <div class="gr_js">
			                <p class="gr_p">自我介绍</p>
			                <p class="gr_pp">
			                    <textarea class="glist_right glist_righta" style="border: 0 none;color: #666666;float: right;padding-right: 3%;text-align: left;width: 95%;height:200px;" name="jieshao" id="jieshao" cols="45" rows="10" placeholder="这家伙很懒什么都没留下！"></textarea>
			                </p>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="wz_foot" style="position:fixed;bottom:0;">
			    <ul>
			        <li class="wz_fleft"><a href="javascript:void(0);" id="aFirst">取消</a></li>
			        <li class="wz_fright"><a href="javascript:void(0);" id="aSave">保存</a></li>
			    </ul>
			</div>
		</div>
		<script src="../../js/constant.js" type="text/javascript"></script>
		<script type="text/javascript">
			function initLoadUserInfo() {
				mui.ajax(REQUEST_DOMAIN + 'services/memberServices.php', {
					data:{
						token: localStorage.getItem(TOKEN),
						action: 'services'
					},
					dataType:'json',
					type:'POST',
					success: renderUserInfo,
					error:function(xhr, type, errorThrown) {
						console.log(JSON.stringify(errorThrown));
					}
				});
			}
			
			function renderUserInfo(result) {
				console.log(JSON.stringify(result));
				if (result.status == -1) {
					var name = result.data.realname;
					var img = result.data.img;
					
					document.getElementById('bName').innerHTML = name;
					document.getElementById('imgUser').src = PREVIOUS_REQUEST_DOMAIN + img;
				} else {
					plus.nativeUI.toast(result.message);
				}
			}
			
			
			function ajaxLoadAboutMe() {
				mui.ajax(REQUEST_DOMAIN + 'center/personalCenter.php', {
					data: {
						action: 'about',
						token: localStorage.getItem(TOKEN)
					},
					dataType:'json',
					type:'POST',
					timeout:5000,
					success: renderAboutMe,
					error: function(xhr,type,errorThrown) {
						if (type == 'timeout') {//超时
							plus.nativeUI.toast('服务器超时，请稍后重试！');
						} else {
							plus.nativeUI.toast('网络错误，请稍后重试！');
						}
					}
				});
			}
			
			function renderAboutMe(result) {
				if (result.status == -1) {
					document.getElementById('qianming').value = result.data.userinfo.qianming;
					document.getElementById('jieshao').value = result.data.userinfo.jieshao;
				} else {
					plus.nativeUI.toast(result.message);
				}
			}
			
			mui.plusReady(function() {
				initLoadUserInfo();
				ajaxLoadAboutMe();
				
				mui(document).on('tap', '#liFirst', function() {
					mui.openWindow({
						url: '../myzone/managearticle.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: 'slide-in-left'
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				mui(document).on('tap', '#liThird', function() {
					mui.openWindow({
						url: '../myzone/contactme.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: 'slide-in-right'
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				mui(document).on('tap', '#aFirst', function() {
					mui.openWindow({
						url: '../myzone/managearticle.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: 'slide-in-left'
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				mui(document).on('tap', '#aSave', function() {
					document.activeElement.blur();
					var qianming = document.getElementById('qianming').value;
					var jieshao = document.getElementById('jieshao').value;
					
					mui.ajax(REQUEST_DOMAIN + 'center/personalCenter.php', {
						data: {
							action: 'aboutEdit',
							token: localStorage.getItem(TOKEN),
							qianming: qianming,
							jieshao: jieshao
						},
						beforeSend: function() {
				        	plus.nativeUI.showWaiting('保存中...',{background:'#8f8f94',back:'none',loading:{display:'inline'}});
					    },
					    complete: function() {
					        plus.nativeUI.closeWaiting();
					    },
						dataType:'json',
						type:'POST',
						timeout:5000,
						success: function(result) {
							plus.nativeUI.toast(result.message);
							plus.webview.currentWebview().reload();
						},
						error: function(xhr,type,errorThrown) {
							if (type == 'timeout') {//超时
								plus.nativeUI.toast('服务器超时，请稍后重试！');
							} else {
								plus.nativeUI.toast('网络错误，请稍后重试！');
							}
						}
					});
				});
			});
		</script>
	</body>
</html>