<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/style.css" rel="stylesheet" type="text/css" />
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			var page = 1;
			var content = '';
			
			mui.init({
			  	pullRefresh: {
				    container:'#loaddata',//待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
				    up:{
				      	height:50,
				      	auto:false,
				      	contentrefresh:"正在加载...",
				      	callback: loadUserArticles
				    }
			  	}
			});
			
			function loadUserArticles() {
				page++;
				
				mui.ajax(REQUEST_DOMAIN + 'center/personalCenter.php', {
					data:{
						action: 'articleMore',
						token: localStorage.getItem(TOKEN),
						page: page
					},
					dataType:'json',
					type:'POST',
					success:renderLoadMore,
					error:function(xhr, type, errorThrown) {
						console.log(JSON.stringify(errorThrown));
					}
				});
			}
			
			function renderLoadMore(result) {
				if (result.status == -1) {
					var userArticles = result.data.articles;
					
					for (var i = 0; i < userArticles.length; i++) {
						content += '<div class=\"gr_lista\">';
						content += '<p class=\"la_pp\">';
						content += '<span>原创</span>';
						content += '<a class=\"articles\" style="color:#333333;" href="javascript:void(0);" data-article-id=\"'+userArticles[i].id+'\">';
						content += userArticles[i].title;
						content += '</a>';
						content += '</p>';
						content += '<div class=\"la_d\">';
						content += '<p class=\"yd_p\"><img src=\"../../img/zf.png\" style=\"width:15px;height:15px;\"><span>'+userArticles[i].share+'</span></p>';
						content += '<p class=\"yd_p\"><img src=\"../../img/yd.png\" style=\"width:15px;height:15px;\"><span>'+userArticles[i].pv+'</span></p>';
						content += '<a class=\"articleDel\" href=\"javascript:void(0);\" data-article-id=\"'+userArticles[i].id+'\">删除</a>';
						content += '</div>';
						content += '</div>';
					}
					
					document.getElementById('divArticles').innerHTML = content;
					
					if (result.data.nums == 1) {	
						mui('#loaddata').pullRefresh().endPullup();	
					} else if (result.data.nums == 2) {
						mui('#loaddata').pullRefresh().disablePullupToRefresh();
					}
				} else {
					plus.nativeUI.toast(result.message);
				}
			}
		</script>
	</head>
	<body>
		<div class="mui-content" id="divContent">
			<div class="gr_top" style="height:100px;">
			    <img id="imgUser" src="../../img/1.png" style="margin-top: auto; width: 50px; margin-top: 5px;"/>
			    <p><b id="bName">用户名</b></p>
			</div>
			<div class="gr_con">
				<ul>
			        <li class="hit" id="liFirst">文章管理</li>
			        <li id="liSecond"><a href="javascript:void(0);" style="color:#333;">关于我</a></li>
			        <li id="liThird"><a href="javascript:void(0);" style="color:#333;">联系我</a></li>
			    </ul>
			    <div class="panes" id="loaddata">
        			<div class="pane" id="divArticles" style="display:block;margin-bottom:0px;">
    					
    				</div>
    			</div>
			</div>
			<div class="index_nav">
			    <ul>
			        <li id="liPublishArticle">
			            <img src="../../img/5.png" style="height:28px;"/>
			            <p style="font-size:12px;">发布文章</p>
			        </li>
			        <li id="liMyZone" class="nav_li">
		                <img src="../../img/2.png" style="height:28px;" />
		                <p class="li_pp" style="font-size:12px;">个人空间</p>
			        </li>
			        <li id="liManagedAd">
		                <img src="../../img/7.png" style="height:28px;"/>
		                <p style="font-size:12px;">广告管理</p>
			        </li>
			        <li id="liMember">
		                <img src="../../img/8.png" style="height:28px;"/>
		                <p style="font-size:12px;">会员服务</p>
			        </li>
			    </ul>
			</div>
		</div>
		<script type="text/javascript" src="../../js/zepto.min.js"></script>
		<script type="text/javascript" src="../../js/constant.js"></script>
		<script type="text/javascript">
			function initLoadUserInfo() {
				mui.ajax(REQUEST_DOMAIN + 'services/memberServices.php', {
					data:{
						token: localStorage.getItem(TOKEN),
						action: 'services'
					},
					dataType:'json',
					type:'POST',
					success: renderUserInfo,
					error:function(xhr, type, errorThrown) {
						console.log(JSON.stringify(errorThrown));
					}
				});
			}
			
			function renderUserInfo(result) {
				console.log(JSON.stringify(result));
				if (result.status == -1) {
					var name = result.data.realname;
					var img = result.data.img;
					
					document.getElementById('bName').innerHTML = name;
					document.getElementById('imgUser').src = PREVIOUS_REQUEST_DOMAIN + img;
				} else {
					plus.nativeUI.toast(result.message);
				}
			}
			
			function initLoad() {
				mui.ajax(REQUEST_DOMAIN + 'center/personalCenter.php', {
					data:{
						action: 'articleList',
						token: localStorage.getItem(TOKEN)
					},
					dataType:'json',
					type:'POST',
					success:initRender,
					error:function(xhr, type, errorThrown) {
						console.log(JSON.stringify(errorThrown));
					}
				});
			}
			
			function initRender(result) {
				if (result.status == -1) {
					var userArticles = result.data.articles;
					
					for (var i = 0; i < userArticles.length; i++) {
						content += '<div class=\"gr_lista\">';
						content += '<p class=\"la_pp\">';
						content += '<span>原创</span>';
						content += '<a class=\"articles\" style="color:#333333;" href="javascript:void(0);" data-article-id=\"'+userArticles[i].id+'\">';
						content += userArticles[i].title;
						content += '</a>';
						content += '</p>';
						content += '<div class=\"la_d\">';
						content += '<p class=\"yd_p\"><img src=\"../../img/zf.png\" style=\"width:15px;height:15px;\"><span>'+userArticles[i].share+'</span></p>';
						content += '<p class=\"yd_p\"><img src=\"../../img/yd.png\" style=\"width:15px;height:15px;\"><span>'+userArticles[i].pv+'</span></p>';
						content += '<a class=\"articleDel\" href=\"javascript:void(0);\" data-article-id=\"'+userArticles[i].id+'\">删除</a>';
						content += '</div>';
						content += '</div>';
					}
					
					document.getElementById('divArticles').innerHTML = content;
					
					if (result.data.nums == 1) {	
						mui('#loaddata').pullRefresh().endPullup();	
					} else if (result.data.nums == 2) {
						mui('#loaddata').pullRefresh().disablePullupToRefresh();
					}
				} else {
					plus.nativeUI.toast(result.message);
				}
			}
			
			mui.plusReady(function() {
				initLoadUserInfo();
				initLoad();
				
				//打开发布文章
				mui(document).on('tap', '#liPublishArticle', function() {
					mui.openWindow({
						url: '../publisharticle/index.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开广告管理
				mui(document).on('tap', '#liManagedAd', function() {
					mui.openWindow({
						url: '../managead/index.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开会员服务
				mui(document).on('tap', '#liMember', function() {
					mui.openWindow({
						url: '../member/index.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: ''
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开关于我
				mui(document).on('tap', '#liSecond', function() {
					mui.openWindow({
						url: '../myzone/aboutme.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: 'slide-in-right'
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//打开联系我
				mui(document).on('tap', '#liThird', function() {
					mui.openWindow({
						url: '../myzone/contactme.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: 'slide-in-right'
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
				
				//删除文章
				mui(document).on('tap', '.articleDel', function() {
					var articleId = this.getAttribute('data-article-id');
					
					var btnArray = ['是', '否'];
	                mui.confirm('是否确定删除?', '删除', btnArray, function(e) {
	                	if (e.index == 0) {
	                		mui.ajax(REQUEST_DOMAIN + 'center/personalCenter.php', {
								data: {
									action: 'deleteArticle',
									id: articleId,
									token: localStorage.getItem(TOKEN)
								},
								beforeSend: function() {
							        plus.nativeUI.showWaiting('玩命加载中...',{background:'#8f8f94',back:'none',loading:{display:'inline'}});
							    },
							    complete: function() {
							        plus.nativeUI.closeWaiting();
							    },
								dataType:'json',
								type:'POST',
								timeout:5000,
								success: function(data) {
									console.log(data);
									if (data == 1) {
										plus.nativeUI.toast('删除成功');
										plus.webview.currentWebview().reload();
									} else {
										plus.nativeUI.toast('删除失败');
									}
								},
								error: function(xhr,type,errorThrown) {
									plus.nativeUI.closeWaiting();
									if (type == 'timeout') {//超时
										plus.nativeUI.toast('服务器超时，请稍后重试！');
									} else {
										plus.nativeUI.toast('网络错误，请稍后重试！');
									}
								}
							});		
	                    }
	                });
				});
				
				//显示文章
				mui(document).on('tap', '.articles', function() {
					var articleId = this.getAttribute('data-article-id');
					localStorage.setItem('postArticleId', articleId);
					mui.openWindow({
						url: '../publisharticle/postdetail.html',
						createNew: true,
						show:{
				      		autoShow: true,
					      	aniShow: 'slide-in-right'
					    },
					    waiting: {
					      	autoShow: false
					   	}
					});
				});
			});
		</script>
	</body>
</html>
